@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("ttf");
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../fonts/NeuzeitGro-Bol.ttf") format("ttf");
  src: url("../fonts/NeuzeitGro-Bol.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

/* /////////////////global//////////////////// */

html,
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  height: 100%;
  background-color: #1e1e1e;
  color: #282828;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  min-width: 280px;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 390px;
  background: #fff;
  padding: 166px 0;
}

/* ////////////////slider//////////////// */

.slider-block {
  border-radius: 30px;
  background: #f7f7f7;
  padding: 15px 0;
}
.slider-block__title {
  font-family: "Neuzeit Grotesk", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  line-height: 115%;
  padding: 0 10px;
  margin-bottom: 16px;
}
.slider-block__mySwiper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.slider-block__mySwiper .swiper-pagination-bullet {
  background-color: #282828;
  opacity: 1;
}

.slider-block__mySwiper .swiper-pagination-bullet-active {
  background-color: #fff;
  position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.slider-block__mySwiper .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #282828;
  z-index: 1;
}

.slider-block__mySwiper .swiper-pagination {
  position: relative;
}

.slider-block__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: 170px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
.slider-block__item-description {
  color: rgba(40, 40, 40, 0.8);
  font-size: 14px;
  line-height: 130%;
}
.slider-block__item-link {
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: 700;
  line-height: 110%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #dcdcdc;
  padding-top: 10px;
  transition: color 0.2s ease-out;
}
.slider-block__item-link:hover {
  color: #e70000;
}
